{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="wrapper">
        <div class="container-fluid about-us-page">
            <div class="container"><a class="dropdown_panel" data-toggle="collapse" href="#left_panel_list"
                                      aria-expanded="false" aria-controls="left-panel">Навигация по странице</a>
                <div class="left-panel col-md-3 col-sm-3 col-xs-12" id="left_panel_list">
                    <ul>
                        <li class="active_tab"><a href="#about_us"
                                                  data-toggle="tab">{% trans 'Биокультурное разнообразие' %}</a></li>
                        <li><a href="#our_position" data-toggle="tab">{% trans 'изменение климата' %}</a></li>
                        <li><a href="#develop" data-toggle="tab">{% trans 'устойчивое развитие' %}</a></li>
                        <li><a href="#slow" data-toggle="tab">{% trans 'Слоу Фуд' %}</a></li>
                    </ul>
                </div>
                <div class="tab-content col-md-9 col-sm-9 col-xs-12">
                    <div class="content tab-pane fade in active" id="about_us">
                        <div class="content_main_image">
                            <div class="main_content_text_block">
                                <div class="main_content_tile">{% trans 'Биокультурное разнообразие' %}</div>
                                <div class="main_content_text">
                                    <p>
                                        {{ concepts.bio }}
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="content tab-pane fade" id="our_position">
                        <div class="content_main_image"><img src="{{ concepts.climate_image.url }}" alt=""></div>
                        <div class="main_content_text_block">
                            <div class="main_content_tile">{% trans 'Изменение климата' %}</div>
                            <div class="main_content_text"><p>
                                {{ concepts.climate }}
                            </p></div>
                        </div>
                    </div>
                    <div class="content tab-pane fade" id="develop">
                        <div class="content_main_image"><img src="{{ concepts.development_image.url }}" alt=""></div>
                        <div class="main_content_text_block">
                            <div class="main_content_tile">{% trans 'Устойчивое развитие' %}</div>
                            <div class="main_content_text"><p>
                                {{ concepts.development }}
                            </p></div>
                        </div>
                    </div>
                    <div class="content tab-pane fade" id="slow">
                        <div class="content_main_image"><img src="{{ concepts.slow_food_image.url }}" alt=""></div>
                        <div class="main_content_text_block">
                            <div class="main_content_tile">{% trans 'Слоу Фуд' %}</div>
                            <div class="main_content_text"><p>
                                {{ concepts.slow_food_text }}
                            </p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

