{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid bio_concepts">
    <div class="bio_concepts_after"></div>
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12 bio_concepts_text">
            <div class="bio_title_container"><span class="bio_title">Биокультаурное разнообразие</span></div>

            <p>{{ concepts.bio }}</p>

        </div>
    </div>
</div>
<div class="container-fluid climate_changes_block">
    <div class="container climate_changes">
        <div class="section_title"><span class="news_title">изменение климата</span></div>
        <p>{{ concepts.climate }}</p>
    </div>
</div>
<div class="container-fluid sustainable_development_block">
    <div class="container sustainable_development">
        <div class="section_title"><span class="news_title">устойчивое развитие</span></div>
        <p>{{ concepts.development }}</p>
        <div class="partner_block">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12"><img src="{{ concepts.slow_food_image.url }}" alt=""></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="section_title default_title">Slow food</div>
                    <p>{{ concepts.slow_food_text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}