{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid news">
    <div class="container novosti">
        <div class="col-md-6 col-sm6 col-xs-12"><img src="{{ article_news.image.url }}{{ article_blog.image.url }}" alt=""></div>
        <div class="col-md-6 col-sm6 col-xs-12">
            <div class="title_section">{{ article_news.title }}{{ article_blog.title }}
            </div>
            {{ article_news.text|safe }}{{ article_blog.text|safe }}
        </div>
    </div>
</div>

{% endblock %}