{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="wrapper-news">
    <div class="container-fluid news_content"><img src="
        {{ get_publication.image.url }}
        {{ article_news.image.url }}
        {{ article_blog.image.url }}
        {{ article_history.image.url }}" class="news_image_content" alt="">
    <div class="news_content_text">
        <div class="title bold">
            {{ article_news.title }}
            {{ get_publication.title }}
            {{ article_blog.title }}
            {{ article_history.title }}
        </div>
        {{ get_publication.text|safe }}
        {{ article_news.text|safe }}
        {{ article_blog.text|safe }}
        {{ article_history.text|safe }}
    </div>
</div>
</div>
{% endblock %}




