{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid slides">
        <div class="container photo_slider">
            {% for item in gallery %}
                <div class="items"><img src="{{ item.image.url }}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="slider-nav">
            {% for item in gallery %}
            <div class="item"><img src="{{ item.image.url }}" alt=""></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
{% endblock %}
