{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="wrapper">
    <div class="container-fluid">
        <div class="container programs">
            <div class="section_title"><span class="news_title">{% trans 'Программы' %}</span></div>
            <div class="programs_block">
                <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class=" col-md-12 col-xs-12 col-md-12 program_post squares_post">
                            <div class="programs_post_title" style="text-align: center">{% trans 'Продвижение биокультурного разнообразия' %}
                            </div>
                            <ul>
                                {% for i in local %}
                                    <li>{{ i.text|safe }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class=" col-md-12 col-xs-12 col-md-12  program_post squares_post">
                            <div class="programs_post_title"  style="text-align: center">{% trans 'Региональные поездки' %}
                            </div>
                            <ul>
                                {% for i in regional %}
                                    <li>
                                        {{ i.text|safe }}
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>

                </div>
                </div>
            </div>
            <div class="container-fluid tourism_block">
                <div class="container tourism">
                    <div class="section_title"><span
                            class="news_title">{% trans 'Устойчивые местные сообщества' %}</span></div>
                </div>
                <div class="container tourism_block_wall">
                    <img src="{{ tourism.image.url }}">
                </div>
                <div class="container tourism_text"><p>{{ tourism.text|safe}}</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container social_projects">
                    <div class="section_title"><span class="news_title">{% trans 'социальные проекты' %}</span></div>
                    <div class="social_projects_wrap">
                        {% for i in  socialp %}
                            <div class="col-md-4 col-sm-4 col-xs-12 social_projects_columns">
                                <p>
                                    {{ i.text|safe }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}