<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ISDS</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="social_left">
    <ul>
        <li data-hover="false"><a href="#"><img src="img/facebook.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/twitter.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/instagram.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/youtube.png" alt=""></a></li>
    </ul>
</div>
<div class="container-fluid header_block">
    <div class="container header">
        <div class="row header_in">
            <div class="col-md-4 col-sm-4 social">
                <ul class="social_list">
                    <li class="social_icons facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons twiiter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons instagram"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons youtube"><a href=""><i class="fa fa-youtube-play"
                                                                   aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
            <div class="col-xs-4 col-sm-4 col-dm-4 search_div">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <form action="">
                        <input type="text" class="form-control search" placeholder="Search">
                    </form>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 dropdown language">
                    <a href="#" class="dropdown-toggle language_select" data-toggle="dropdown"><img src="img/russia.png"
                                                                                                    alt=""></a>
                    <ul class="dropdown-menu">
                        <li class="language_list"><img src="img/russia.png" class="russia" alt=""><span
                                class="language_name">Русский</span></li>
                        <li class="language_list"><img src="img/english.png" alt=""><span
                                class="language_name">English</span></li>
                        <li class="language_list"><img src="img/kg.png" alt=""><span
                                class="language_name">Кыргызча</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default isds_navigation default not_opacity" id="menu">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="il mobile-search">
                <form action="">
                    <input type="text" class="form-control search" placeholder="Search">
                </form>
            </li>
            <li class="il"><a href="#" class="">Главная</a></li>

            <li class="il"><a href="#" class="">О нас</a></li>

            <li class="il"><a href="#" class="">Наша деятельность</a></li>

            <li class="il"><a href="#" class="">Основные концепции</a></li>

            <li class="il"><a href="#" class="">Новости</a></li>
            <li class="il hover_dropdown">ИСТОРИИ</li>
            <li class="il hover_dropdown">ГАЛЕРЕЯ</li>
            <li class="il hover_dropdown">публикации</li>
            <li class="il hover_dropdown">БЛОГ</li>

            <li class="il last resources_link"><a href="#" class="">Ресурсы</a>
                <ul class="sub_menu">
                    <li><a href="">ИСТОРИИ</a></li>
                    <li><a href="">ГАЛЕРЕЯ</a></li>
                    <li><a href="">публикации</a></li>
                    <li><a href="">БЛОГ</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
<div class="container about_us">
    <div class="col-md-6 col-sm-6 col-xs-12 about_us_image"><img src="img/about_us_image.png" alt=""></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="section_title default_title">О НАС</div>
        <div class="about_us_text"><p>ОФ «Институт стратегии устойчивого развития» («ИСУР») - неправительственная
            организация в Центральной Азии, созданная в 2012 году с целью продвижения концепции устойчивого развития
            путем выявления и реализации традиционных и инновационных подходов к решению экологических, экономических и
            социальных проблем на региональном и местном уровнях.
            С 2012 года ОФ «ИСУР» в рамках Программы малых грантов поддержал 55 местных инициатив на общую сумму 235 033
            долларов США. Путем создания платформы обучения БКР при поддержке «ИСУР» было обучено 4427 человек, из них
            2845 молодых людей и школьников, 2538 женщин и девочек. Охвачено 92 села из 4-х областей страны.

            Мы концентрируемся на поддержке усилий хранителей традиционных знаний и практик, роль которых состоит в том,
            чтобы заботиться, представлять, объяснять знания, отношения, биологические виды, формы искусства и
            биокультурные объекты, пронесенные сквозь поколения.</p>
        </div>
    </div>
</div>
<div class="container-fluid our_mission_block">
    <div class="container our_mission">
        <div class="col-md-12 col-sm-12 col-xs-12 our_mission_text">
            <div class="section_title"><span class="news_title">НАШЕ ВИДЕНИЕ</span></div>
            <p>Сильные местные сообщества в Центральной Азии, устойчивые в экологическом, социальном, культурном и
                экономическом плане при сильных местных традициях, основанных на непрерывном обмене между поколениями.
            </p></div>
        <div class="col-md-12 col-sm-12 col-xs-12 our_mission_text">
            <div class="section_title"><span class="news_title">МИССИЯ</span></div>
            <p>Мы содействуем устойчивому развитию путем повышения уровня жизни местных сообществ Центральной Азии через
                усиление их потенциала и навыков на основе развития, адаптации и внедрения мирового, регионального и
                местного опыта.</p>
        </div>
    </div>
</div>
<div class="container-fluid our_aims_block">
    <div class="container our_aims">
        <div class="section_title"><span class="news_title">НАШИ ОСНОВЫНЫЕ ЦЕЛИ</span></div>
        <div class="col-md-6 col-xs-12 col-md-6 our_aims_post no_padding">
            <div class="col-md-6 col-sm-12 col-xs-12"><img src="img/our_aims_1.png" alt=""></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="our_aims_text"><p>Мы видим свою роль в качестве организации, которая помогает местным
                    сообществам
                    сохранить традиционные знания (традиции, обычаи, ценности и методы) путем повышения их потенциала и
                    навыков, а также путем создания сети местных сообществ и хранителей традиционных знаний (ТЗ) для
                    обмена
                    опытом и лучших практик.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-md-6 our_aims_post no_padding">
            <div class="col-md-6 col-sm-12 col-xs-12"><img src="img/our_aims.png" alt=""></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="our_aims_text"><p>Финансовая, консультационная, организационная, информационная и другая
                    поддержка
                    деятельности и инициатив местных сообществ, направленных на развитие и повышение уровня их жизни.
                </p></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid about_us_partners_block">
    <div class="container about_us_partners">
        <div class="section_title">
            <div class="span news_title">НАШИ ПАРТНЕРЫ</div>
        </div>
        <div class="partners_list_container">
            <div class="col-md-6 col-sm 6 col-xs-12">
                <ul class="partners_list">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm 6 col-xs-12">
                <ul class="partners_list">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem corporis cupiditate
                        eos
                        est
                        facere fugit harum illum incidunt iure, iusto officia perspiciatis quia quidem sint sit
                        voluptatibus
                        voluptatum?
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid our_donors_block">
    <div class="container our_donors">
        <div class="donors_image"><img src="img/donor1.png" alt=""></div>
        <div class="donors_image"><img src="img/donor2.png" alt=""></div>
    </div>
</div>
<div class="container-fluid footer">
    <div class="container footer_block">
        <div class="col-md-6 col-sm-6 col-xs-12 footer_columns">
            <div class="footer_title">Институт Стратегии Устойчивого Развития</div>
            <ul class="footer_list">

                <li><a href="">Главная</a></li>
                <li><a href="">О нас</a></li>
                <li><a href="">Наша деятельность</a></li>
                <li><a href="">Основные концепции</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Ресурсы</a></li>

            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer_columns">
            <div class="footer_title">СВЯЗАТЬСЯ С НАМИ</div>
            <ul class="footer_list">

                <li class="phone_li"><i class="fa fa-phone footer_icons" aria-hidden="true"></i>+996 312 891
                    321
                </li>

                <li class="email_li"><i class="fa fa-envelope-o footer_icons" aria-hidden="true"></i>isds.kg.2011@gmail.com
                </li>
                <li class="mark_li"><a href=""><i class="fa fa-map-marker footer_icons" aria-hidden="true"></i>г.Бишкек,
                    ул.Калыка Акиева 99/9 720000 Кыргызстан
                </a></li>

            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer_columns">
            <div class="footer_title">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</div>
            <ul class="footer_list footer_social">

                <li><a href=""><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-tumblr-square" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>

            </ul>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() > 767) {
            $('.navbar-nav li.resources_link').hover(function () {
                    $('.sub_menu').stop(true, true).delay(200).fadeIn(500).css({
                        "visible": "visible",
                        "height": "auto"
                    }).animate(), 500;
                }
                ,
                function () {
                    $('.sub_menu').stop(true, true).delay(200).fadeOut(500).css({
                        "visible": "hidden"
                    }).animate(), 500;

                });
        }
        var social_hide_off = $('.isds_navigation').offset().top;
        var isSocialLinksShowen = false;

        function initSocialLinks() {
            if ($(document).scrollTop() >= social_hide_off) {
                $('.social_left').css({
                    "left": "-60px"
                });
                isSocialLinksShowen = true;
            }
            else {
                $('.social_left').css({
                    "left": "-80px"
                });
                isSocialLinksShowen = false;
            }
        }

        $(document).scroll(function () {
            initSocialLinks();
        });

        $(document).ready(function () {
            initSocialLinks();

            if (isSocialLinksShowen) {
                $('.social_left ul li').each(function (i, obj) {
                    $(obj).hover(function () {
                        if ($(obj).attr('data-hover') === 'false') {
                            $(this).animate({
                                'margin-left': 60
                            }, 200);
                            $(obj).attr('data-hover', true);
                        }
                    }, function () {
                        if ($(obj).attr('data-hover') === 'true') {
                            $(this).animate({
                                'margin-left': 0
                            }, 200);
                            $(obj).attr('data-hover', false);
                        }
                    });
                });
            }
        });

    });
</script>
</body>
</html>