{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li class="language_list {% if LANGUAGE_CODE == 'ru' %}active{% endif %}">
        <form id='lang_ru' action='/i18n/setlang/' method='POST'>{% csrf_token %}
            <input type='hidden' name='language' value='ru'/>
            <a href='#' title='RU' onclick="document.getElementById('lang_ru').submit()">RU</a>
        </form>
    </li>

    <li class="language_list {% if LANGUAGE_CODE == 'ru' %}active{% endif %}">
        <form id='lang_kk' action='/i18n/setlang/' method='POST'>{% csrf_token %}
            <input type='hidden' name='language' value='kk'/>
            <a href='#' title='KG' onclick="document.getElementById('lang_kk').submit()">KG</a>
        </form>
    </li>
    <li class="language_list {% if LANGUAGE_CODE == 'ru' %}active{% endif %}">
        <form id='lang_en' action='/i18n/setlang/' method='POST'>{% csrf_token %}
            <input type='hidden' name='language' value='en'/>
            <a href='#' title='EN' onclick="document.getElementById('lang_en').submit()">EN</a>
        </form>
    </li>
</ul>

{% for i in news %}
    <p>{{ i.date | date:'d.m.y' }}</p>
    <h1>{{ i.title }}</h1>
    <p>{{ i.text | safe }}</p>
    <p><img src="{{ i.image.url }}"></p>
{% endfor %}
{#{% for i in blog %}#}
{#    <p>{{ i.date | date:'d.m.y' }}</p>#}
{#    <h1>{{ i.title }}</h1>#}
{#    <p>{{ i.text | safe}}</p>#}
{#    <p><img src="{{ i.image.url }}"></p>#}
{#{% endfor %}#}
{#{% for i in news %}#}
{#    <p>{{ i.date | date:'d.m.y' }}</p>#}
{#    <h1>{{ i.title }}</h1>#}
{#    <p>{{ i.text | safe}}</p>#}
{#    <p><img src="{{ i.image.url }}"></p>#}
{#{% endfor %}#}
</body>
</html>

