<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ISDS</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="social_left">
    <ul>
        <li data-hover="false"><a href="#"><img src="img/facebook.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/twitter.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/instagram.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/youtube.png" alt=""></a></li>
    </ul>
</div>
<div class="container-fluid header_block">
    <div class="container header">
        <div class="row header_in">
            <div class="col-md-4 col-sm-4 social">
                <ul class="social_list">
                    <li class="social_icons facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons twiiter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons instagram"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons youtube"><a href=""><i class="fa fa-youtube-play"
                                                                   aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
            <div class="col-xs-4 col-sm-4 col-dm-4 search_div">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <form action="">
                        <input type="text" class="form-control search" placeholder="Search">
                    </form>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 dropdown language">
                    <a href="#" class="dropdown-toggle language_select" data-toggle="dropdown"><img src="img/russia.png"
                                                                                                    alt=""></a>
                    <ul class="dropdown-menu">
                        <li class="language_list"><img src="img/russia.png" class="russia" alt=""><span
                                class="language_name">Русский</span></li>
                        <li class="language_list"><img src="img/english.png" alt=""><span
                                class="language_name">English</span></li>
                        <li class="language_list"><img src="img/kg.png" alt=""><span
                                class="language_name">Кыргызча</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default isds_navigation default not_opacity" id="menu">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="il mobile-search">
                <form action="">
                    <input type="text" class="form-control search" placeholder="Search">
                </form>
            </li>
            <li class="il"><a href="#" class="">Главная</a></li>

            <li class="il"><a href="#" class="">О нас</a></li>

            <li class="il"><a href="#" class="">Наша деятельность</a></li>

            <li class="il"><a href="#" class="">Основные концепции</a></li>

            <li class="il"><a href="#" class="">Новости</a></li>
            <li class="il hover_dropdown">ИСТОРИИ</li>
            <li class="il hover_dropdown">ГАЛЕРЕЯ</li>
            <li class="il hover_dropdown">публикации</li>
            <li class="il hover_dropdown">БЛОГ</li>

            <li class="il last resources_link"><a href="#" class="">Ресурсы</a>
                <ul class="sub_menu">
                    <li><a href="">ИСТОРИИ</a></li>
                    <li><a href="">ГАЛЕРЕЯ</a></li>
                    <li><a href="">публикации</a></li>
                    <li><a href="">БЛОГ</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
<div class="container-fluid news">
    <div class="container novosti">
        <div class="col-md-6 col-sm6 col-xs-12"><img src="img/news_image.png" alt=""></div>
        <div class="col-md-6 col-sm6 col-xs-12">
            <div class="title_section">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus at autem
                deleniti
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus aliquet mi. Sed egestas, mauris
            eu scelerisque rutrum, diam quam blandit sapien, et ultricies urna elit nec orci. Cras sed erat ut est
            auctor ullamcorper. Aliquam placerat eget ante vitae vehicula. Morbi eleifend dolor sit amet odio malesuada,
            vel cursus augue consequat. Integer in tempus neque, ac auctor ante. Pellentesque lectus nunc, pellentesque
            at nunc at, aliquet bibendum odio. Pellentesque ut arcu eu justo efficitur tristique eget ut magna. Nunc at
            augue leo. Nam tempus, ante eu mattis molestie, mauris purus tempus ante, a finibus lacus ligula rhoncus
            dolor. Sed bibendum dui non ex venenatis venenatis. Nullam vel fringilla turpis. Quisque consequat egestas
            luctus. Aliquam vitae justo a tortor malesuada laoreet non a massa. Vivamus dapibus convallis justo mattis
            ultrices.
            Curabitur eu malesuada diam. Nunc vestibulum scelerisque nisi eu vehicula. Quisque tempor hendrerit tortor,
            eu fringilla erat lobortis vel. Donec vestibulum lacus felis. Aenean faucibus tortor augue, ut rhoncus neque
            iaculis ut. Vivamus lobortis, ex eget vulputate auctor, nulla ligula facilisis ligula, in feugiat risus
            lorem ac neque. Mauris mollis, quam vitae posuere ullamcorper, metus nulla imperdiet ipsum, sed cursus
            turpis sapien sit amet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia Curae; Nam fermentum elementum velit, vitae varius mi porttitor eget. Vestibulum vestibulum enim
            tellus, quis fringilla ipsum ullamcorper id.
            Sed semper neque at aliquam vestibulum. Curabitur dapibus nisi sed massa sagittis bibendum. Ut nec aliquam
            dui. Maecenas consectetur non justo vel auctor. Sed nec felis eget sem placerat blandit eu sit amet ipsum.
            Donec eu lacus ligula. Aliquam faucibus aliquet eleifend. Duis ac lacus at quam aliquet sagittis sit amet ac
            nisl. Praesent sem quam, tempor non lobortis lobortis, ultrices at tellus. Fusce maximus ex varius,
            consectetur sem sit amet, varius mi. Ut pharetra orci quis leo mattis eleifend vel vitae nisl. Praesent
            vulputate, purus at lobortis ornare, lorem neque elementum massa, vitae viverra nisl nibh a velit. Quisque
            rutrum libero ante, ac sagittis turpis faucibus non. Vivamus vel scelerisque nibh, eget vehicula justo.
            Maecenas massa neque, faucibus eu velit non, placerat pellentesque libero.</p>
        </div>
    </div>
</div>
<div class="container-fluid footer">
    <div class="container footer_block">
        <div class="col-md-6 col-sm-6 col-xs-12 footer_columns">
            <div class="footer_title">Институт Стратегии Устойчивого Развития</div>
            <ul class="footer_list">

                <li><a href="">Главная</a></li>
                <li><a href="">О нас</a></li>
                <li><a href="">Наша деятельность</a></li>
                <li><a href="">Основные концепции</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Ресурсы</a></li>

            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer_columns">
            <div class="footer_title">СВЯЗАТЬСЯ С НАМИ</div>
            <ul class="footer_list">

                <li class="phone_li"><i class="fa fa-phone footer_icons" aria-hidden="true"></i>+996 312 891
                    321
                </li>

                <li class="email_li"><i class="fa fa-envelope-o footer_icons" aria-hidden="true"></i>isds.kg.2011@gmail.com
                </li>
                <li class="mark_li"><a href=""><i class="fa fa-map-marker footer_icons" aria-hidden="true"></i>г.Бишкек,
                    ул.Калыка Акиева 99/9 720000 Кыргызстан
                </a></li>

            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer_columns">
            <div class="footer_title">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</div>
            <ul class="footer_list footer_social">

                <li><a href=""><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-tumblr-square" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>

            </ul>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() > 767) {
            $('.navbar-nav li.resources_link').hover(function () {
                    $('.sub_menu').stop(true, true).delay(200).fadeIn(500).css({
                        "visible": "visible",
                        "height": "auto"
                    }).animate(), 500;
                }
                ,
                function () {
                    $('.sub_menu').stop(true, true).delay(200).fadeOut(500).css({
                        "visible": "hidden"
                    }).animate(), 500;

                });
        }
        var radioButtons = $('.dropdown-menu');

        function resetAllRadioButtons() {
            $(radioButtons).each(function (i, obj) {
                var li = $('li', $(obj));
                $(li).attr('data-value', false);
            });

        }

        $('.language_list').on('click', function () {
            resetAllRadioButtons();
            $(this).attr('data-value', true);
            var imgsrc = $('img', this).attr('src');
            $('.language_select img').attr('src', imgsrc);
        });
    });
</script>
</body>
</html>