<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ISDS</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="social_left">
    <ul>
        <li data-hover="false"><a href="#"><img src="img/facebook.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/twitter.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/instagram.png" alt=""></a></li>
        <li data-hover="false"><a href="#"><img src="img/youtube.png" alt=""></a></li>
    </ul>
</div>
<div class="container-fluid header_block">
    <div class="container header">
        <div class="row header_in">
            <div class="col-md-4 col-sm-4 social">
                <ul class="social_list">
                    <li class="social_icons facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons twiiter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons instagram"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="social_icons youtube"><a href=""><i class="fa fa-youtube-play"
                                                                   aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
            <div class="col-xs-4 col-sm-4 col-dm-4 search_div">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <form action="">
                        <input type="text" class="form-control search" placeholder="Search">
                    </form>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 dropdown language">
                    <a href="#" class="dropdown-toggle language_select" data-toggle="dropdown"><img src="img/russia.png"
                                                                                                    alt=""></a>
                    <ul class="dropdown-menu">
                        <li class="language_list"><img src="img/russia.png" class="russia" alt=""><span
                                class="language_name">Русский</span></li>
                        <li class="language_list"><img src="img/english.png" alt=""><span
                                class="language_name">English</span></li>
                        <li class="language_list"><img src="img/kg.png" alt=""><span
                                class="language_name">Кыргызча</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default isds_navigation default not_opacity" id="menu">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="il mobile-search">
                <form action="">
                    <input type="text" class="form-control search" placeholder="Search">
                </form>
            </li>
            <li class="il"><a href="#" class="">Главная</a></li>

            <li class="il"><a href="#" class="">О нас</a></li>

            <li class="il"><a href="#" class="">Наша деятельность</a></li>

            <li class="il"><a href="#" class="">Основные концепции</a></li>

            <li class="il"><a href="#" class="">Новости</a></li>
            <li class="il hover_dropdown">ИСТОРИИ</li>
            <li class="il hover_dropdown">ГАЛЕРЕЯ</li>
            <li class="il hover_dropdown">публикации</li>
            <li class="il hover_dropdown">БЛОГ</li>

            <li class="il last resources_link"><a href="#" class="">Ресурсы</a>
                <ul class="sub_menu">
                    <li><a href="">ИСТОРИИ</a></li>
                    <li><a href="">ГАЛЕРЕЯ</a></li>
                    <li><a href="">публикации</a></li>
                    <li><a href="">БЛОГ</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="container programs">
        <div class="section_title"><span class="news_title">Программы</span></div>
        <div class="programs_block">
            <div class="left_side col-md-8 col-sm-8 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 squares_posts">
                    <div class=" col-md-6 col-xs-12 col-md-6 program_post squares_post">
                        <div class="programs_post_title">Местные инициативы
                            по БКР:
                        </div>
                        <ul>
                            <li>Программа по поддержке местных инициатив в северном и внутреннем Тянь-Шане (2012-2014)
                            </li>
                            <li>Программа по поддержке местных инициатив «Акылга-Тирек» в северном и внутреннем
                                Тянь-Шане
                                (сентябрь 2014 г. – 30 сент. 2016г.)
                            </li>
                            <li>Программа малых грантов «Жаштар Демилгеси» «Молодежные инициативы для устойчивого
                                будущего»
                                (2016-2018)
                            </li>
                        </ul>
                    </div>
                    <div class=" col-md-6 col-xs-12 col-md-6  program_post squares_post">
                        <div class="programs_post_title">Региональные
                            поездки
                        </div>
                        <ul>
                            <li>Программа региональных поездок по созданию сети по биокультурному разнообразию в
                                Центральной
                                Азии (2014-2015) и (май 2016 г. – июнь 2017 г.)
                            </li>
                            <li>Участие представителей из Центральной Азии на международных конференциях, глобальных
                                форумах
                                с целью повышения их потенциала и обмена опытом в области БКР
                            </li>
                            <li>Темы – агробиоразнообразие, экология, продовольственная безопасность и здоровое питание,
                                традиционные знания и практики
                            </li>
                            <li>Темы – агробиоразнообразие, экология, продовольственная безопасность и здоровое питание,
                                традиционные знания и практики
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="under_square_post">
                    <div class="under_square program_post">
                        <div class="programs_post_title">Основные результаты:</div>
                        <ul>
                            <li>Представители партнерских организаций являются членами международных движений и платформ
                                (Международная сеть горных коренных народов, Международная сеть коренных народов Терра
                                Мадре/Слоу Фуд)
                            </li>
                            <li>Обменные визиты (Таджикистан-Кыргызстан):
                                - Обсуждение перспектив регионального сотрудничества
                                - Обменные визиты на уровне сообществ
                            </li>
                            <li>Slow Food
                                - созданы и успешно работают 3 конвивиума в Кыргызстане и 2 конвивиума в Таджикистане по
                                продвижению принципов здорового питания,
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right_side">
                <div class="col-sm-12 col-xs-12 program_post long_post">
                    <div class="programs_post_title">Основные
                        мероприятия и
                        результаты (2014-2015):
                    </div>
                    <ul>
                        <li>- 72 делегата из Таджикистана и Кыргызстана (39 женщин и 33 мужчин) получили уникальную
                            возможность изучить международный опыт, лучшие практики в области агробиоразнообразия,
                            историко-культурного наследия, здорового питания;
                        </li>
                        <li>- 72 делегата из Таджикистана и Кыргызстана (39 женщин и 33 мужчин) получили уникальную
                            возможность изучить международный опыт, лучшие практики в области агробиоразнообразия,
                            историко-культурного наследия, здорового питания;
                        </li>
                        <li>- 27 партнерских организаций (9 – Таджикистан и 18 – Кыргызстан)</li>
                        <li>- Участие в глобальных форумах и конференциях:</li>
                        <li>Салон вкуса, Терра Мадре коренных народов (Slow Food International, Италия 2014);</li>
                        <li>Мы накормим планету (Slow Food Youth Network, Италия 2015);</li>
                        <li>Встреча коренных народов (Indigenous Terra Madre, Индия 2015);</li>
                        <li>Обменные визиты (Mobile Learning – Kyrgyzstan/Tajikistan, 2015);</li>
                        <li>Community-to-Community Exchange and Capacity Development Workshop for Traditional Knowledge
                            Holders (India, Bangalore, 2015);
                        </li>
                        <li>Санкт-Петербургский Культурный Форум (Россия 2015).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid tourism_block">
    <div class="container tourism">
        <div class="section_title"><span class="news_title">устойчивый туризм</span></div>
    </div>
    <div class="container tourism_block_wall"></div>
    <div class="container tourism_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis libero,
        pretium eget ullamcorper ut, fermentum eget lacus. Duis blandit pellentesque orci, non lobortis arcu congue
        vitae. Nunc convallis mi maximus, dapibus justo eget, faucibus enim. Praesent eget congue nibh. Vivamus vel
        consectetur magna, luctus scelerisque arcu. Quisque rhoncus non ligula a viverra. Nunc quis laoreet libero.
        Nam sit amet massa pellentesque, tincidunt libero a, venenatis nulla. Proin a lectus dictum, pharetra mauris ut,
        pellentesque felis. Sed vitae ligula sodales, condimentum mauris quis, congue metus. In eget arcu consectetur,
        pellentesque diam et, faucibus ipsum. Donec porta sit amet mi et eleifend. Sed rutrum at libero id sagittis.
        Nulla bibendum, neque cursus tempor mollis, sapien ipsum gravida lectus, sed luctus velit erat quis nulla.
        Suspendisse euismod massa in libero lacinia, facilisis pretium turpis lacinia. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Suspendisse eget placerat erat. Ut quis ante non justo
        sagittis scelerisque. Donec non lorem magna.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="container social_projects">
        <div class="section_title"><span class="news_title">социальные проекты</span></div>
        <div class="social_projects_wrap">
            <div class="col-md-4 col-sm-4 col-xs-12 social_projects_columns"><p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut turpis
                libero, pretium eget ullamcorper ut, fermentum eget lacus. Duis blandit pellentesque orci, non lobortis
                arcu
                congue vitae. Nunc convallis mi maximus, dapibus justo eget, faucibus enim. Praesent eget congue nibh.
                Vivamus vel consectetur magna, luctus scelerisque arcu. Quisque rhoncus non ligula a viverra. Nunc quis
                laoreet libero.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 social_projects_columns"><p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut turpis
                libero, pretium eget ullamcorper ut, fermentum eget lacus. Duis blandit pellentesque orci, non lobortis
                arcu
                congue vitae. Nunc convallis mi maximus, dapibus justo eget, faucibus enim. Praesent eget congue nibh.
                Vivamus vel consectetur magna, luctus scelerisque arcu. Quisque rhoncus non ligula a viverra. Nunc quis
                laoreet libero.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 social_projects_columns"><p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut turpis
                libero, pretium eget ullamcorper ut, fermentum eget lacus. Duis blandit pellentesque orci, non lobortis
                arcu
                congue vitae. Nunc convallis mi maximus, dapibus justo eget, faucibus enim. Praesent eget congue nibh.
                Vivamus vel consectetur magna, luctus scelerisque arcu. Quisque rhoncus non ligula a viverra. Nunc quis
                laoreet libero.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 social_projects_columns"><p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut turpis
                libero, pretium eget ullamcorper ut, fermentum eget lacus. Duis blandit pellentesque orci, non lobortis
                arcu
                congue vitae. Nunc convallis mi maximus, dapibus justo eget, faucibus enim. Praesent eget congue nibh.
                Vivamus vel consectetur magna, luctus scelerisque arcu. Quisque rhoncus non ligula a viverra. Nunc quis
                laoreet libero.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 social_projects_columns"><p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut turpis
                libero, pretium eget ullamcorper ut, fermentum eget lacus. Duis blandit pellentesque orci, non lobortis
                arcu
                congue vitae. Nunc convallis mi maximus, dapibus justo eget, faucibus enim. Praesent eget congue nibh.
                Vivamus vel consectetur magna, luctus scelerisque arcu. Quisque rhoncus non ligula a viverra. Nunc quis
                laoreet libero.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer">
    <div class="container footer_block">
        <div class="col-md-6 col-sm-6 col-xs-12 footer_columns">
            <div class="footer_title">Институт Стратегии Устойчивого Развития</div>
            <ul class="footer_list">

                <li><a href="">Главная</a></li>
                <li><a href="">О нас</a></li>
                <li><a href="">Наша деятельность</a></li>
                <li><a href="">Основные концепции</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Ресурсы</a></li>

            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer_columns">
            <div class="footer_title">Институт Стратегии Устойчивого Развития</div>
            <ul class="footer_list">

                <li class="phone_li"><a href=""><i class="fa fa-phone footer_icons" aria-hidden="true"></i>+996 312 891
                    321</a></li>

                <li class="email_li"><a href=""><i class="fa fa-envelope-o footer_icons" aria-hidden="true"></i>isds.kg.2011@gmail.com</a>
                </li>
                <li class="mark_li"><a href=""><i class="fa fa-map-marker footer_icons" aria-hidden="true"></i>г.Бишкек,
                    ул.Калыка Акиева 99/9 720000 Кыргызстан
                </a></li>

            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer_columns">
            <div class="footer_title">Институт Стратегии Устойчивого Развития</div>
            <ul class="footer_list footer_social">

                <li><a href=""><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-tumblr-square" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a></li>


                <li><a href=""><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>

            </ul>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript">

    function res(obj) {
        var height = $('.squares_posts').height();
        var block = $('.long_post').height();
        var left_side = $('.left_side').height();
        var under_square = $('.under_square').height();
        var dif = block - height;
        var DifHeight = left_side - under_square;
        if (block > left_side) {
            $(obj).height(dif);
        }
        else {
            $(block).height(DifHeight);
        }
    }
    $(document).ready(function () {
        var radioButtons = $('.dropdown-menu');

        function resetAllRadioButtons() {
            $(radioButtons).each(function (i, obj) {
                var li = $('li', $(obj));
                $(li).attr('data-value', false);
            });

        }

        $('.language_list').on('click', function () {
            resetAllRadioButtons();
            $(this).attr('data-value', true);
            var imgsrc = $('img', this).attr('src');
            $('.language_select img').attr('src', imgsrc);
        });
        res('.under_square')

    });
    $(window).resize(function () {

        res('.under_square')

    });
    $(document).ready(function () {
        if ($(window).width() > 767) {
            $('.navbar-nav li.resources_link').hover(function () {
                    $('.sub_menu').stop(true, true).delay(200).fadeIn(500).css({
                        "visible": "visible",
                        "height": "auto"
                    }).animate(), 500;
                }
                ,
                function () {
                    $('.sub_menu').stop(true, true).delay(200).fadeOut(500).css({
                        "visible": "hidden"
                    }).animate(), 500;

                });
        }
        var social_hide_off = $('.isds_navigation').offset().top;
        var isSocialLinksShowen = false;

        function initSocialLinks() {
            if ($(document).scrollTop() >= social_hide_off) {
                $('.social_left').css({
                    "left": "-60px"
                });
                isSocialLinksShowen = true;
            }
            else {
                $('.social_left').css({
                    "left": "-80px"
                });
                isSocialLinksShowen = false;
            }
        }

        $(document).scroll(function () {
            initSocialLinks();
        });

        $(document).ready(function () {
            initSocialLinks();

            if (isSocialLinksShowen) {
                $('.social_left ul li').each(function (i, obj) {
                    $(obj).hover(function () {
                        if ($(obj).attr('data-hover') === 'false') {
                            $(this).animate({
                                'margin-left': 60
                            }, 200);
                            $(obj).attr('data-hover', true);
                        }
                    }, function () {
                        if ($(obj).attr('data-hover') === 'true') {
                            $(this).animate({
                                'margin-left': 0
                            }, 200);
                            $(obj).attr('data-hover', false);
                        }
                    });
                });
            }
        });

    });
</script>
</body>
</html>